<a href="https://colab.research.google.com/github/Subashganesan00/Mentors_Task/blob/main/Mentor_Task(project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **project**

In [1]:
from pymongo import MongoClient

TASK=MongoClient("mongodb://subashganesan95:Suba9585@ac-vmfkcr7-shard-00-00.w9u1ska.mongodb.net:27017,ac-vmfkcr7-shard-00-01.w9u1ska.mongodb.net:27017,ac-vmfkcr7-shard-00-02.w9u1ska.mongodb.net:27017/?ssl=true&replicaSet=atlas-px8y9k-shard-0&authSource=admin&retryWrites=true&w=majority")

In [2]:
A=TASK["sample_mflix"]

In [3]:
PROJECT=A["movies"]

In [9]:
data=[]
for i in PROJECT.find({'$or':[{'$and':[{'year':{'$gte':1950,'$lte':1970}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},
                                       {'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]},
                              {'$and':[{'year':{'$gte':2000,'$lte':2015}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},{'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]}]},
                      {'_id':0,'title':1,' music director name':1,'directors':1,'cast':1,'imdb.rating':1,'tomatoes.viewer.rating':1,'year':1}):
     data.append(i)

In [10]:
import pandas as pd
pd.DataFrame(data)

,cast,title,directors,year,imdb,tomatoes
0,"[Alec Guinness, Stanley Holloway, Sidney James...",The Lavender Hill Mob,[Charles Crichton],1951,{'rating': 7.8},{'viewer': {'rating': 3.9}}
1,"[Judy Holliday, Broderick Crawford, William Ho...",Born Yesterday,[George Cukor],1950,{'rating': 7.7},{'viewer': {'rating': 3.9}}
2,"[Maria Fiore, Vincenzo Musolino, Filomena Russ...",Two Cents Worth of Hope,[Renato Castellani],1952,{'rating': 7.2},{'viewer': {'rating': 3.4}}
3,"[Grant Munro, Jean Paul Ladouceur]",Neighbours,[Norman McLaren],1952,{'rating': 7.8},{'viewer': {'rating': 3.9}}
4,"[Margaret Sheridan, Kenneth Tobey, Robert Corn...",The Thing from Another World,"[Christian Nyby, Howard Hawks]",1951,{'rating': 7.3},{'viewer': {'rating': 3.6}}
...,...,...,...,...,...,...
983,"[Maz Jobrani, John Heard, Deanna Russo, Marsha...",Jimmy Vestvood: Amerikan Hero,[Jonathan Kesselman],2014,{'rating': 8.2},{'viewer': {'rating': 3.5}}
984,"[Asa Butterfield, Rafe Spall, Sally Hawkins, E...",A Brilliant Young Mind,[Morgan Matthews],2014,{'rating': 7.2},{'viewer': {'rating': 4.0}}
985,"[Ze'ev Revach, Levana Finkelstein, Aliza Rosen...",The Farewell Party,"[Tal Granit, Sharon Maymon]",2014,{'rating': 7.2},{'viewer': {'rating': 3.9}}
986,[Matt Smith],My Last Year with the Nuns,[Bret Fetzer],2014,{'rating': 7.2},{'viewer': {'rating': 5.0}}
987,"[Garrett M. Brown, Rachel DiPillo, Mary Kate W...","Hello, My Name Is Frank",[Dale Peterson],2014,{'rating': 8.3},{'viewer': {'rating': 5.0}}